.app-wrapper {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 30px;
  @media (max-width: 690px) {
    padding: 2vh;
    @media (max-width: 385px) {
      padding: 1vh;
    }
  }
}
